// Background Colors
$background-generic-black: #000000;
$background-generic-white: #ffffff;
$background-page: #ebf1ea;
$background-container: #ebf1ea;
$background-access: #e7efe4;
$background-titles: #030303;
$background-footer: #eeeeee;
$background-login: #e7efe4;
$background-btn-green: #0f4314;
$background-btn-gray: #d3d3d3;
$background-dark-green: #0f4314;
$background-dark-gray: #f8f8f8;
$background-light-green: #ebf1ea;

// Font colors
$font-generic-black: #000000;
$font-generic-light: #6c6c6c;
$font-generic-white: #ffffff;
$font-gray-light: #e5e5e5;
$font-edit-green: #0f4314;
$font-edit-red: #ce1d1d;
// Weights

// Rating color:

// Borders
$border-generic: #000000;

// Colores de backgrounds
