// Colores de fuentes
$font-generic-dark: #000000;
$font-generic-light: #6C6C6C;
$font-generic-white: #FFFFFF;
$font-gray-light: #E5E5E5;
$font-edit-green: #0F4314;
$font-edit-red: #CE1D1D;


// Colores de backgrounds
$background-access: #E7EFE4;
$background-white: #ffffff;
$background-titles: #030303;
$background-footer: #EEEEEE;
$background-login: #E7EFE4;
$background-btn-green: #0F4314;
$background-btn-gray: #D3D3D3;
$backgroubd-dark-green: #0F4314;
$background-dark-gray: #F8F8F8;
$background-light-green: #EBF1EA;
$backgroubd-black: #000000;

