// Colores de fuentes
$font-generic-dark: #000000;
$font-generic-light: #6c6c6c;
$font-generic-white: #ffffff;
$font-gray-light: #e5e5e5;
$font-edit-green: #0f4314;
$font-edit-red: #ce1d1d;
$font-edit-purple: #953d9c;

// Colores de backgrounds
$background-access: #e7efe4;
$background-white: #ffffff;
$background-titles: #030303;
$background-footer: #eeeeee;
$background-login: #e7efe4;
$background-btn-green: #0f4314;
$background-btn-gray: #d3d3d3;
$backgroubd-dark-green: #0f4314;
$background-dark-gray: #f8f8f8;
$background-light-green: #ebf1ea;
$backgroubd-black: #000000;
$backgroubd-dark-gray: #dcdcdc;
