@import "../../../styles/variables.scss";

.deputy-page {
  &__layout {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
  }
  &__profile-info {
    background-color: $background-dark-gray;
    height: 100vh;
    width: 15%;
  }
  &__profile-data {
    text-align: center;
    margin-bottom: 130px;
    margin-top: 50px;
  }
  &__club-data {
    text-align: center;
    margin-bottom: 0px;
  }
  &__img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
  &__title {
    font-size: 17px;
    font-weight: 800;
  }
  &__subtitle {
    font-size: 14px;
    font-weight: 700;
  }
  &__button {
    border: none;
    text-decoration: underline;
    background: none;
    color: $font-edit-green;
    font-size: 12px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  &__team {
    background-color: $background-light-green;
    border-radius: 10px;
    position: relative;
    padding-top: 60px;
  }
  &__content-title {
    background-color: $background-generic-black;
    color: $font-generic-white;
    width: 460px;
    padding: 18px;
    border-radius: 10px;
    position: absolute;
    top: -20px;
    left: -20px;
  }
  &__row-block {
    background-color: $background-generic-white;
    margin: 15px;
    padding: 18px;
    border-radius: 30px;
    position: relative;
  }
  &__row-block-tr {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    position: relative;
  }
  &__table-row-photo-img {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    position: absolute;
    left: -15px;
    top: -23px;
  }
  &__table-head-name {
    position: absolute;
    left: 10%;
    top: -7px;
    font-size: 14px;
  }
  &__table-head-lastname {
    position: absolute;
    left: 30%;
    top: -7px;
    font-size: 14px;
  }
  &__table-head-email {
    position: absolute;
    left: 55%;
    top: -7px;
    font-size: 14px;
  }
  &__table-head-role {
    position: absolute;
    left: 75%;
    top: -7px;
    font-size: 14px;
  }
  &__table-head-out {
    position: absolute;
    left: 84%;
    top: -7px;
    font-size: 14px;
  }
  &__table-row-name {
    position: absolute;
    left: 10%;
    top: -5px;
    font-size: 14px;
  }
  &__table-row-lastname {
    position: absolute;
    left: 30%;
    top: -5px;
    font-size: 14px;
  }
  &__table-row-email {
    position: absolute;
    left: 49%;
    top: -5px;
    font-size: 14px;
  }
  &__table-row-role {
    position: absolute;
    left: 74%;
    top: -5px;
    font-size: 14px;
  }
  &__table-row-out {
    position: absolute;
    left: 85%;
    top: -5px;
    font-size: 14px;
  }

  &__table-row-out--button {
    border: none;
    text-decoration: underline;
    background: none;
    color: $font-edit-red;
    font-size: 15px;
  }
}
