@import "../../styles/buttons.scss";
@import "../../styles/variables.scss";
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $background-login;

    &__container {                         
      padding: 20px;
      background-color: $background-white;
      border: 2px solid $font-gray-light;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      margin: 250px;
      align-items: center;
      height: 580px;
    }
    &__welcome{
        font-size: 38px;
        font-weight: 900;
        color: $font-generic-dark;
        border-left: 6px solid $backgroubd-dark-green;
    }
    &__title{
        font-size: 27px;
        font-weight: 600;
    }
    &__subtitle{
        font-size: 17px;
        font-weight: 200;
    }
    &__form {                         
        width: 475px;
        padding: 20px;
        margin-bottom: 30px;

        &--label{
            display: flex;
            align-items: flex-start; 
        }
    }
  
    &__label {
      font-size: 18px;
      font-weight: 400;
      color: $font-generic-light;
    }

    &__input {
        font-size: 24px;
        font-weight: 600;
        width: 475px;
        border-radius: 5px;
        border: 2px solid $font-gray-light;
        margin-bottom: 30px;
    }
  }