@import "./variables.scss";
@import "./media-queries.scss";

.component-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trending-bg {
  background-image: url("../assets/Trending_bg.png");
  background-position: center;
  background-repeat: repeat-x;
}

.component {
  display: grid;
  align-items: center;
  justify-items: center;
  color: $font-color-dark;

  &__nav {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 1 / span 2;
    justify-self: start;

    &-title {
      font-size: 24px;
      font-weight: $bold;
      color: $font-color-dark;
      margin: 20px 0 10px 0;
    }
  }

  &__media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include for-tablet-portrait-up {
      display: flex;
      gap: 0 20px;
    }
  }
}

.show-more {
  grid-row: 10;
  grid-column: 1 / span 2;
  justify-self: center;
  margin: 30px 0;
}
