// Background Colors
$background-generic-dark: #000000;
$background-generic-light: #ffffff;
$background-container: #ebf1ea;

// Font colors
$font-light: #ffffff;
$font-dark: #000000;
// Weights

// Rating color:

// Borders
$border-generic: #000000;
