@import "../../styles/variables.scss";

.home-page {
  background-image: url("../../assets/Home_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-bottom: 20px solid $border-generic;
}

.info-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 300px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-container;
  border-radius: 16px;
  min-width: 500px;
  max-width: 750px;
  min-height: 600px;
  padding: 20px;

  &__header {
    width: 460px;
    border-radius: 10px;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    background-color: $background-generic-black;
    color: $font-generic-white;
    height: 48px;
    border-radius: 10px;
  }

  &__columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-generic-white;
    border-radius: 0 0 10px 10px;
    gap: 100px;
    margin-top: -10px;
    height: 48px;

    &-left {
      display: flex;
      justify-content: flex-start;
      gap: 30px;
      width: 50%;
      font-size: 14px;

      &__pos {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin: 0;
      }
    }
    &-right {
      display: flex;
      justify-content: space-around;
      width: 50%;
      font-size: 14px;
    }
  }

  &__matchup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $background-generic-white;
    border-radius: 0 0 10px 10px;
    gap: 80px;
    margin-top: -10px;
    height: 48px;
  }
}
